<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Powerlifting Programming</title>

    {{template "header.html"}}

    <link href="/public/css/prism.css" rel="stylesheet" type="text/css">

    <!-- Load our code prettifier -->
    <script src="/public/js/prism.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {{template "navigation.html"}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/public/img/deadlift-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Powerlifting</h1>
                        <h2 class="subheading">The methods behind the madness</h2>
                        <span class="meta">Posted by <a href="#">Chris Purta</a> on December 30, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>To the average powerlifter the average powerlifting training routine is going to consist of mostly high intensity low volume set schemes. This is how it really should be to stimulate the nervous system to lock in motor engrams. This is the basis for strength.</p>

                    <p>
                        I think that the most powerlifting programs are great to gaining strength but I feel that there are some things that may be lacking or may be added to help add to overall strength. I have always been a big believer in overall/functional strength along with being strong in the 3 main lifts (Squat, Bench, Deadlift).
                        If you are extremely proficient in all 3 lifts you are going to a strong individual that much is for sure. But how does that strength carry over from a functional stance?
                   </p>

                   <p>
                       Functionally, as a powerlifter you will have most of the foundations already set to be a functional athlete due to the nature of the exercise that you are performing. E.g. You are going to have a strong code from squatting and deadlifting, deadlifting will put you in a natually strong posiiton (assuming you deadlift conventionally).
                       Bench pressing will allow you to have most of the upper body strength to perform most upper body functions depending on the accessory work you perform. But there may be some function exercise that you will not be able to perform well that if added to you programming you will be able to help in some ares of your lifts.
                   </p>
                    <p>
                        Upright Rows from the ground. This is probably one of the most exhausting accessory exercises that you can add to your programming and I recommend that this is added with caution. This is a great exercise to add some speed to your deadlift, especially if you struggle getting the barbell off the ground when attempt you 1 RM.
                        The reason the I express caution with this exercise is due to the compound nature of the exercise and may cause you fry your CNS a quite a bit faster that normal. I usually only add this to deload week and perform anywhere from 8-10 reps for 3 sets with a comfortable weight.
                    </p>
                    <p>
                        Box jumps. More than likely of the most hated exercises among the powerlifters that I know and seems to be a sacreligious excerise for reasons that I don't quite understand. Jumping is one of the most basic movements that we as humans perform so why avoid this, especially when you have been squatting for quite some time.
                        Personally I think why would you not do box jumps if you could, that is if you're a <= 197 class powerlifter you could easily box jump a fair height (± 3 feet). Since we as powerlifters are pretty much masochists you should hopefully not mind some bloddy shins if you miss the box, right? Aside from that fact I think that import it
                        helps build some speed from the bottom of the squat if this is added to your programming correctly.
                    </p>
                    <p>
                        Push-ups.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    {{template "footer.html"}}

</body>

</html>
