<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bitcoin Trading</title>

    {{template "header.html"}}

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/trader.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {{template "navigation.html"}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/public/img/trading-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Bitcoin Trading</h1>
                        <h2 class="subheading">Finding trends in Bitcoin Prices</h2>
                        <span class="meta">Posted by <a href="#">Chris Purta</a> on February 20, 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="text-center">
        <svg width="1100" height="500" class="img-fluid"></svg>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/public/js/trader.js"></script>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Data provided by <a href="https://www.coinbase.com/join/cpurta">Coinbase</a></p>
            </div>
        </div>
    </div>

    {{template "footer.html"}}

</body>

</html>
