  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                      <li>
                          <a href="https://www.facebook.com/chris.purta">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/christopher-purta-063255a8">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/cpurta">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/c_purta/">
                              <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                              </span>
                          </a>
                      </li>
                  </ul>
                  <p class="copyright text-muted">Copyright &copy; cpurta.com 2016-2017 Site powered by <a href="https://revel.github.io/">Revel</a></p>
              </div>
          </div>
      </div>
  </footer>

  <!-- jQuery -->
  <script src="/public/js/jquery-2.2.4.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/public/js/bootstrap-3.3.6.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/public/js/jqBootstrapValidation.js"></script>

  <!-- Theme JavaScript -->
  <script src="/public/js/clean-blog.min.js"></script>

  </body>
</html>
