<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    
    <!-- Bootstrap Core CSS -->
    <link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/public/css/clean-blog.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/public/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>
